html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.infographic{
    opacity: 1;
}

#Buttons >g:hover{
    cursor: pointer;
    opacity: 0.8;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(0.25deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-0.25deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  animation: wiggle 0.2s ease-in-out;
}

.close_btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EEC590;
    color: #5F330D;
    font-weight: bold;
    border: solid #5F330D 1px;
    border-radius: 3px;
    height: 5vh;
    width: 5vh;
    font-size: medium;
}

.close_btn:hover{
    background-color: #5F330D;
    color: #EEC590;
}

.Popup{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: none;
    border-radius: 3px;
    border: solid #5F330D 1px;
    background-color: white;
    max-height: 90vh;

}

.blurred{
    filter: blur(5px);
}